<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.trustmessage.consumer.mapper.MessageMapper">

    <!-- 插入操作 插入数据后获取自动生成的主键 -->
    <insert id="insertMessage" parameterType="com.example.trustmessage.consumer.model.Message"
            useGeneratedKeys="true" keyProperty="id">
        INSERT INTO message (
        message,
        message_key,
        biz_id,
        message_status,
        forward_topic,
        forward_key,
        verify_info,
        try_count,
        next_retry_time
        ) VALUES (
        #{message},
        #{messageKey},
        #{bizID},
        #{messageStatus},
        #{forwardTopic},
        #{forwardKey},
        #{verifyInfo},
        #{tryCount},
        #{nextRetryTime}
        )
    </insert>

    <select id="findByMessageKeyAndBizID" resultType="com.example.trustmessage.consumer.model.Message">
        SELECT
        id,
        biz_id AS bizID,
        message AS message,
        message_key AS "messageKey",
        message_status AS "messageStatus",
        forward_topic AS "forwardTopic",
        forward_key AS "forwardKey",
        verify_info AS "verifyInfo",
        try_count AS "tryCount",
        create_time AS "createTime",
        update_time AS "updateTime",
        next_retry_time AS "nextRetryTime"
        FROM
        message
        WHERE
        message_key = #{messageKey}
        AND biz_id = #{bizID}
    </select>


    <update id="updateStatusByMessageKeyAndBizID" parameterType="map">
        UPDATE message
        SET message_status = #{messageStatus}
        WHERE message_key = #{messageKey} AND biz_id = #{bizID} AND message_status = #{originalStatus}
    </update>


    <update id="updateRetryCountAndTime" parameterType="map">
        UPDATE message
        SET try_count = #{tryCount}, next_retry_time = #{nextRetryTime}
        WHERE message_key = #{messageKey} AND biz_id = #{bizID}
    </update>



    <select id="findMessagesForVerify" resultType="com.example.trustmessage.consumer.model.Message" parameterType="map">
        SELECT
        id,
        biz_id AS bizID,
        message AS message,
        message_key AS "messageKey",
        message_status AS "messageStatus",
        forward_topic AS "forwardTopic",
        forward_key AS "forwardKey",
        verify_info AS "verifyInfo",
        try_count AS "tryCount",
        create_time AS "createTime",
        update_time AS "updateTime",
        next_retry_time AS "nextRetryTime"
        FROM
        message
        WHERE
        id >= #{id}
        AND CURRENT_TIMESTAMP >= next_retry_time
        AND message_status = 1
        LIMIT #{limitCount}
    </select>


</mapper>
