<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.MessageStoreMapper">

    <!-- 插入操作 -->
    <insert id="insertMessage" parameterType="com.example.domain.MessageStore">
        INSERT INTO message_store
        (forward_topic, biz_type, `key`, biz_id, status, body, look_back_type, look_back_interface)
        VALUES
        (#{forwardTopic}, #{bizType}, #{key}, #{bizID}, #{status}, #{body}, #{lookBackType}, #{lookBackInterface})
    </insert>

    <!-- 根据key查找操作 -->
    <select id="findByKey" resultType="com.example.domain.MessageStore" parameterType="java.lang.String">
        SELECT * FROM message_store WHERE `key` = #{key}
    </select>

    <!-- 根据key更新status操作 -->
    <update id="updateStatusByKey" parameterType="java.util.Map">
        UPDATE message_store
        SET status = #{status}
        WHERE `key` = #{key}
    </update>

</mapper>
